<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">
<head>
    <meta charset="UTF-8">
    <title> Ubah Data Pesawat </title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container" style="padding-top: 80px;text-align: center">
    <h2 th:text="'Pesawat ' + ${pesawat.maskapai} + ' dengan nomor seri '" ></h2>
    <h2 th:text="${pesawat.nomor_seri} + ' berhasil diubah'"></h2>
    <a th:href="@{/pesawat}">Kembali ke Daftar Pesawat</a>
</div>
</body>
</html>